*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}
h1{
    font-size: 2.5rem;
  font-weight: 700;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/carbonimages/output.bg.jpg') no-repeat center center/cover;
    z-index: -1;
}
.container{
    position: relative;
    width: 100%;  
    display: flex;
    height: 100vh;
}
.navigation{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #023821;
    transition: 0.5s;
    overflow: hidden;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 200%;
    list-style: none;
    
}
.navigation ul li:hover{
    background: white;
}
.navigation ul li:hover .title{
    color: #023821;
}
.navigation ul li:hover .icon{
    color: #023821;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}
.navigation ul li a .logo{
    font-size: 24px;
    font-weight: 550;
}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
}
.navigation ul li a .title{
    color: white;
    margin-top: 20px;
}
.main-content{
    display: flex;
    /* border-radius: 1rem; */
    margin-left: 220px;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
    color: whitesmoke;
}
.piechart{
    width: 50%;
    text-align: left;
    justify-content: left;
    padding: 20px;
}
.piechart h1{
    margin-top: 30px;
    font-size: 40px;
    flex-grow: 1;
    white-space: nowrap;
}
.charts{
    place-content: center;
    flex-flow: row;
    gap: 2rem;
    margin-top: 10%;
}
canvas {
    max-width: 400px; /* Increased size */
    max-height: 400px;
    margin: 80px 0 0 50px;
}
.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top:  10px;
}
.legend-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #2E7D32; /* Green text */
}
.legend-item::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--legend-color);
    border-radius: 50%; /* Makes it circular */
    display: inline-block;
}
.main-content {
  gap: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    width: 60%; 
}
.card-container h1{
    margin-top: 50px;
    margin-left: 30px;
    font-size: 40px; 
       
}
.card {
    background-color: rgba(2, 56, 33, 0.3);
    border-radius: 0.5rem;
    font-size: 20px;
    text-align: center;
    align-items: center;
    backdrop-filter: blur(20px);
    width: 200px;
    height: 50%;
    padding: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 40% ;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.cards-wrapper{
    display: flex;
    flex-direction: row;
}
.card:hover {
    transform: translateY(-8px); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); 
}
.card-title{
    font-weight: 600;
}
.card-info{
    opacity: 0.95;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    padding-top: 2rem;
}